body{
    font-family: Ledger;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
}

nav{
    display: flex;
    gap: 40px;

}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;

}